* {
  --color1: #8E9DCC;
  --color2: #D9DBF1;
  --color3: #F9F9ED;
  --color4: #DBF4A7;
}

body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: var(--color2);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
